In [1]:
#import the pandas library
import pandas as pd
import numpy as np

In [2]:
#import the csv file
heroes_path = "purchase_data.csv"

#read into dataframe
heroes_df = pd.read_csv(heroes_path)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#total number of players
total_players = heroes_df['SN'].nunique()
print('Total Number of Players: ' + str(total_players))

Total Number of Players: 576

In [51]:
# purchasing analysis

## unique items
unique_items = len(heroes_df['Item ID'].unique())
print('Unique Items: ' + str(unique_items))

## avg purchase price
avg_purchase_price = "{:.2f}".format(heroes_df['Price'].mean())
print('Average Purchase Price: '+str(avg_purchase_price))

## total number of purchases
number_of_rows = len(heroes_df)
print('Total Purchases: '+str(number_of_rows))

## total revenue
total_revenue = "{:.2f}".format(heroes_df['Price'].sum())
print('Total Revenue: '+str(total_revenue))

Unique Items: 179
Average Purchase Price: 3.05
Total Purchases: 780
Total Revenue: 2379.77

In [48]:
# Gender Demographics

gender_demo = heroes_df.groupby('Gender')
gender_count = gender_demo.nunique()['SN']
gender_percent = gender_count / total_players * 100
gender_demo_summary = pd.DataFrame({"Count of Players": gender_count,"Percentage of all Players":gender_percent})
print(gender_demo_summary)

                       Count of Players  Percentage of all Players
Gender
Female                               81                  14.062500
Male                                484                  84.027778
Other / Non-Disclosed                11                   1.909722

In [56]:
# Purchasing analysis by gender

# defining each grouped metric to analyze
purchase_count = gender_demo["Purchase ID"].count()
avg_purchase_price = gender_demo['Price'].mean()
total_revenue_grouped = gender_demo['Price'].sum()
avg_purchase_pp = gender_demo['Price'].sum() / gender_demo['SN'].nunique()

#creating dataframe for sumary
gender_purchase_summary = pd.DataFrame({"Purchase Count": purchase_count,"Avg. Purchase Price": avg_purchase_price,"Total Purchase Value":total_revenue_grouped,"Avg. Purchase Total per Person": avg_purchase_pp})
print(gender_purchase_summary)

                       Purchase Count  Avg. Purchase Price  \
Gender
Female                            113             3.203009
Male                              652             3.017853
Other / Non-Disclosed              15             3.346000

                       Total Purchase Value  Avg. Purchase Total per Person
Gender
Female                               361.94                        4.468395
Male                                1967.64                        4.065372
Other / Non-Disclosed                 50.19                        4.562727

In [90]:
#create ranges and labels for ranges
range_groups = [0,9.9,14.9,18.9,22.9,26.9,30.9,34.9,38.9,42.9]
range_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-40","41-45","46+"]

#group the original data age per the ranges identified
heroes_df['Age Group'] = pd.cut(heroes_df['Age'],range_groups,labels=range_labels)
heroes_df

age_group = heroes_df.groupby('Age Group')

# defining each grouped metric to analyze
purchase_count = age_group["Purchase ID"].count()
avg_purchase_price = age_group['Price'].mean()
total_revenue_grouped = age_group['Price'].sum()
avg_purchase_pp = age_group['Price'].sum() / age_group['SN'].nunique()

#creating dataframe for sumary
age_group_summary = pd.DataFrame({"Purchase Count": purchase_count,"Avg. Purchase Price": avg_purchase_price,"Total Purchase Value":total_revenue_grouped,"Avg. Purchase Total per Person": avg_purchase_pp})
print(age_group_summary)

           Purchase Count  Avg. Purchase Price  Total Purchase Value  \
Age Group
<10                    23             3.353478                 77.13
10-14                  28             2.956429                 82.78
15-19                 113             3.034602                342.91
20-24                 254             3.038937                771.89
25-29                 207             3.063961                634.24
30-34                  63             2.876667                181.23
35-40                  38             2.728421                103.68
41-45                  35             3.552857                124.35
46+                    15             3.366667                 50.50

           Avg. Purchase Total per Person
Age Group
<10                              4.537059
10-14                            3.762727
15-19                            3.810111
20-24                            4.336461
25-29                            4.200265
30-34                            3.775625
35-40                            3.840000
41-45                            4.974000
46+                              3.607143