In [1]:
#import the pandas library
import pandas as pd
import numpy as np

In [2]:
#import the csv file
heroes_path = "purchase_data.csv"

#read into dataframe
heroes_df = pd.read_csv(heroes_path)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#total number of players
total_players = heroes_df['SN'].nunique()
print('Total Number of Players: ' + str(total_players))

Total Number of Players: 576

In [97]:
# purchasing analysis

## unique items
unique_items = len(heroes_df['Item ID'].unique())
print('Unique Items: ' + str(unique_items))

## avg purchase price
avg_purchase_price = "{:.2f}".format(heroes_df['Price'].mean())
print('Average Purchase Price: '+str(avg_purchase_price))

## total number of purchases
number_of_rows = len(heroes_df)
print('Total Purchases: '+str(number_of_rows))

## total revenue
total_revenue = "{:.2f}".format(heroes_df['Price'].sum())
print('Total Revenue: '+ '$'+str(total_revenue))

Unique Items: 179
Average Purchase Price: 3.05
Total Purchases: 780
Total Revenue: $2379.77

In [75]:
# Gender Demographics

gender_demo = heroes_df.groupby('Gender')
gender_count = gender_demo.nunique()['SN']
gender_percent = gender_count / total_players * 100
gender_demo_summary = pd.DataFrame({"Count of Players": gender_count,"Percentage of all Players":gender_percent})
gender_demo_summary.style.format({"Percentage of all Players": "{:.2f}%"})

In [98]:
# Purchasing analysis by gender

# defining each grouped metric to analyze
purchase_count = gender_demo["Purchase ID"].count()
avg_purchase_price = gender_demo['Price'].mean()
total_revenue_grouped = gender_demo['Price'].sum()
avg_purchase_pp = gender_demo['Price'].sum() / gender_demo['SN'].nunique()

#creating dataframe for sumary
gender_purchase_summary = pd.DataFrame({"Purchase Count": purchase_count,"Avg. Purchase Price": avg_purchase_price,"Total Purchase Value":total_revenue_grouped,"Avg. Purchase Total per Person": avg_purchase_pp})
gender_purchase_summary.style.format({"Avg. Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}","Avg. Purchase Total per Person":"${:.2f}"})

In [99]:
#create ranges and labels for ranges
range_groups = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,50]
range_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#group the original data age per the ranges identified
heroes_df['Age Group'] = pd.cut(heroes_df['Age'],range_groups,labels=range_labels)
heroes_df

age_group = heroes_df.groupby('Age Group')

# defining each grouped metric to analyze
purchase_count = age_group["Purchase ID"].count()
avg_purchase_price = age_group['Price'].mean()
total_revenue_grouped = age_group['Price'].sum()
avg_purchase_pp = age_group['Price'].sum() / age_group['SN'].nunique()

#creating dataframe for sumary
age_group_summary = pd.DataFrame({"Purchase Count": purchase_count,"Avg. Purchase Price": avg_purchase_price,"Total Purchase Value":total_revenue_grouped,"Avg. Purchase Total per Person": avg_purchase_pp})
age_group_summary.style.format({"Avg. Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}","Avg. Purchase Total per Person":"${:.2f}"})

In [100]:
#top 5 spenders by purchase value
top_five = heroes_df.groupby('SN')
top_five_purchases = top_five['SN'].count()
top_five_revenue = top_five['Price'].sum()
top_five_avg_purch_price = top_five_revenue / top_five_purchases
top_five_summary = pd.DataFrame({"Purchase Count": top_five_purchases,"Avg Purchase Price": top_five_avg_purch_price,"Total Purchase Value": top_five_revenue})
top_five_summary_sorted = top_five_summary.sort_values(by='Total Purchase Value', ascending = False).head()
top_five_summary_sorted.style.format({"Avg Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

In [102]:
#top 5 popular items by purchase count
top_five_items = heroes_df.groupby(['Item ID','Item Name'])
top_five_items_purchases = top_five_items['Item ID'].count()
top_five_items_revenue = top_five_items['Price'].sum()
top_five_items_price = top_five_items_revenue / top_five_items_purchases
top_five_items_summary = pd.DataFrame({"Purchase Count": top_five_items_purchases,"Item Price": top_five_items_price,"Total Purchase Value": top_five_items_revenue})
top_five_items_summary_sorted = top_five_items_summary.sort_values(by=['Purchase Count'], ascending = False).head()
top_five_items_summary_sorted.style.format({"Item Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

In [103]:
#top 5 profitable items by total purchase value
top_five_profitable_items_summary = pd.DataFrame({"Purchase Count": top_five_items_purchases,"Avg Purchase Price": top_five_items_avg_purch_price,"Total Purchase Value": top_five_items_revenue})
top_five_profitable_items_summary_sorted = top_five_items_summary.sort_values(by='Total Purchase Value', ascending = False).head()
top_five_profitable_items_summary_sorted.style.format({"Item Price":"${:.2f}","Total Purchase Value":"${:.2f}"})